.monaco-sash:not(.disabled) > .orthogonal-drag-handle {
  height: calc(var(--vscode-sash-size)*2);
}

.monaco-editor .suggest-details > .monaco-scrollable-element > .body > .docs.markdown-docs {
  min-height: calc(1rem + 8px);
}

.monaco-workbench .part.editor > .content.auxiliary .editor-group-container.empty > .editor-group-watermark .monaco-workbench .part.editor > .content:not(.empty) .editor-group-container.empty > .editor-group-watermark {
  height: calc(100% - 70px);
}

.monaco-workbench .monaco-breadcrumbs-picker .highlighting-tree > .tree {
  height: calc(100% - 36px)
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-fixed > .tab-label > .monaco-icon-label-container:after .monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-shrink > .tab-label > .monaco-icon-label-container:after {
  height: calc(100% - 2px);
}

.chat-related-files .monaco-button.codicon.codicon-add {
  height: calc(100% - 3px);
}

.interactive-session .chat-attached-context .chat-attached-context-attachment .monaco-button {
  height: calc(100% + 4px);
}

.monaco-workbench .test-error-content-widget .inner .arrow svg {
  height: calc(100% + 2px);
}

.extension-editor > .body > .content {
  height: calc(100% - 37px);
}

.extension-editor > .body > .content > .details > .readme-container > .extension-pack-readme.one-row > .readme-content {
  height: calc(100% - 142px)
}

.extension-editor > .body > .content > .details > .readme-container > .extension-pack-readme.two-rows > .readme-content {
  height: calc(100% - 224px)
}

.extension-editor > .body > .content > .details > .readme-container > .extension-pack-readme.three-rows > .readme-content {
  height: calc(100% - 306px)
}

.extension-editor > .body > .content > .details > .readme-container > .extension-pack-readme.more-rows > .readme-content {
  height: calc(100% - 326px)
}

.extension-editor > .body > .content > .details > .readme-container > .extension-pack-readme > .extension-pack > .extension-pack-content {
  height: calc(100% - 60px)
}

.extension-editor .subcontent.feature-contributions .feature-view-container .extension-feature-content .feature-body {
  height: calc(100% - 50px)
}

.extensions-viewlet > .extensions {
  height: calc(100% - 41px)
}

.workbench-suggest-widget .suggest-details > .monaco-scrollable-element > .body > .docs.markdown-docs {
  min-height: calc(1rem + 8px);
}

.monaco-workbench .part.editor > .content .gettingStartedContainer .gettingStartedSlideDetails .getting-started-detail-columns {
  max-height: calc(100% - 40px);
}

.workspace-trust-editor {
  height: calc(100% - 11px);
}

.issue-reporter select {
  height: calc(2.25rem + 2px);
  line-height: 1.5;
}

.issue-reporter-body select {
  height: calc(2.25rem + 2px);
  line-height: 1.5;
}
