.monaco-sash.horizontal {
  height: var(--vscode-sash-size)
}

.monaco-sash.horizontal:before {
  height: var(--vscode-sash-hover-size)
}

.monaco-editor .codelens-decoration {
  line-height: var(--vscode-editorCodeLens-lineHeight)
}

.monaco-editor .codelens-decoration .codicon[class*=codicon-] {
  line-height: var(--vscode-editorCodeLens-lineHeight)
}

.interactive-item-container.interactive-response.chat-most-recent-response {
  min-height: var(--chat-current-response-min-height)
}

.monaco-editor .editor-dictation-widget {
  line-height: var(--vscode-editor-dictation-widget-height);
  min-height: var(--vscode-editor-dictation-widget-height)
}

.monaco-workbench .repl .repl-tree .monaco-tl-contents .expression {
  line-height: var(--vscode-repl-line-height)
}

.monaco-workbench .part > .header-or-footer,
.monaco-workbench .part > .title {
  box-sizing: border-box;
  display: none;
  display: flex;
  height: 35px;
  overflow: hidden;
}

.monaco-sash:not(.disabled) > .orthogonal-drag-handle {
  height: calc(var(--vscode-sash-size)*2);
}

.monaco-editor .suggest-details > .monaco-scrollable-element > .body > .docs.markdown-docs {
  min-height: calc(1rem + 8px);
}

.monaco-workbench .part.editor > .content.auxiliary .editor-group-container.empty > .editor-group-watermark .monaco-workbench .part.editor > .content:not(.empty) .editor-group-container.empty > .editor-group-watermark {
  height: calc(100% - 70px);
}

.monaco-workbench .monaco-breadcrumbs-picker .highlighting-tree > .tree {
  height: calc(100% - 36px)
}

.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-fixed > .tab-label > .monaco-icon-label-container:after .monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.sizing-shrink > .tab-label > .monaco-icon-label-container:after {
  height: calc(100% - 2px);
}

.chat-related-files .monaco-button.codicon.codicon-add {
  height: calc(100% - 3px);
}

.interactive-session .chat-attached-context .chat-attached-context-attachment .monaco-button {
  height: calc(100% + 4px);
}

.monaco-workbench .test-error-content-widget .inner .arrow svg {
  height: calc(100% + 2px);
}

.extension-editor > .body > .content {
  height: calc(100% - 37px);
}

.extension-editor > .body > .content > .details > .readme-container > .extension-pack-readme.one-row > .readme-content {
  height: calc(100% - 142px)
}

.extension-editor > .body > .content > .details > .readme-container > .extension-pack-readme.two-rows > .readme-content {
  height: calc(100% - 224px)
}

.extension-editor > .body > .content > .details > .readme-container > .extension-pack-readme.three-rows > .readme-content {
  height: calc(100% - 306px)
}

.extension-editor > .body > .content > .details > .readme-container > .extension-pack-readme.more-rows > .readme-content {
  height: calc(100% - 326px)
}

.extension-editor > .body > .content > .details > .readme-container > .extension-pack-readme > .extension-pack > .extension-pack-content {
  height: calc(100% - 60px)
}

.extension-editor .subcontent.feature-contributions .feature-view-container .extension-feature-content .feature-body {
  height: calc(100% - 50px)
}

.extensions-viewlet > .extensions {
  height: calc(100% - 41px)
}

.workbench-suggest-widget .suggest-details > .monaco-scrollable-element > .body > .docs.markdown-docs {
  min-height: calc(1rem + 8px);
}

.monaco-workbench .part.editor > .content .gettingStartedContainer .gettingStartedSlideDetails .getting-started-detail-columns {
  max-height: calc(100% - 40px);
}

.workspace-trust-editor {
  height: calc(100% - 11px);
}

.issue-reporter select {
  height: calc(2.25rem + 2px);
  line-height: 1.5;
}

.issue-reporter-body select {
  height: calc(2.25rem + 2px);
  line-height: 1.5;
}

.monaco-workbench .pane-composite-part > .header-or-footer > .composite-bar-container > .composite-bar > .monaco-action-bar .monaco-workbench .pane-composite-part > .title > .composite-bar-container > .composite-bar > .monaco-action-bar {
  line-height: 27px
}

.monaco-workbench .pane-composite-part > .header-or-footer > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item.icon .action-label:not(.codicon) .monaco-workbench .pane-composite-part > .title > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item.icon .action-label:not(.codicon) {
  height: 16px
}

.monaco-workbench .pane-composite-part > .header-or-footer > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item:after .monaco-workbench .pane-composite-part > .header-or-footer > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item:before .monaco-workbench .pane-composite-part > .title > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item:after .monaco-workbench .pane-composite-part > .title > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item:before {
  height: 24px
}

.monaco-workbench .pane-composite-part > .header-or-footer > .composite-bar-container > .composite-bar > .monaco-action-bar .badge .badge-content .monaco-workbench .pane-composite-part > .title > .composite-bar-container > .composite-bar > .monaco-action-bar .badge .badge-content {
  height: 16px;
  line-height: 10px
}

.monaco-workbench .pane-composite-part > .header-or-footer > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item.icon .badge.compact .badge-content .monaco-workbench .pane-composite-part > .title > .composite-bar-container > .composite-bar > .monaco-action-bar .action-item.icon .badge.compact .badge-content {
  height: 13px;
  line-height: 13px
}

.monaco-workbench .part.editor > .content .editor-group-container > .title.title-border-bottom:after {
  height: 1px
}

.ports-view .monaco-list .monaco-list-row .ports-view-actionbar-cell .monaco-inputbox {
  height: 22px;
  line-height: 19px
}

.monaco-dialog-box .dialog-message-row .dialog-message-container .dialog-message {
  min-height: 48px
}

.profiles-editor .contents-container .profile-content-tree-header {
  height: 30px
}

.monaco-workbench.web .part.titlebar .titlebar-right .window-controls-container {
  height: env(titlebar-area-height, 35px)
}

.monaco-workbench.web .part.titlebar .titlebar-left .window-controls-container {
  height: env(titlebar-area-height, 35px)
}

#monaco-pane-drop-overlay > .pane-overlay-indicator {
  min-height: 22px
}
