.monaco-sash.horizontal {
  height: var(--vscode-sash-size)
}

.monaco-sash.horizontal:before {
  height: var(--vscode-sash-hover-size)
}

.monaco-editor .codelens-decoration {
  line-height: var(--vscode-editorCodeLens-lineHeight)
}

.monaco-editor .codelens-decoration .codicon[class*=codicon-] {
  line-height: var(--vscode-editorCodeLens-lineHeight)
}

.interactive-item-container.interactive-response.chat-most-recent-response {
  min-height: var(--chat-current-response-min-height)
}

.monaco-editor .editor-dictation-widget {
  line-height: var(--vscode-editor-dictation-widget-height);
  min-height: var(--vscode-editor-dictation-widget-height)
}

.monaco-workbench .repl .repl-tree .monaco-tl-contents .expression {
  line-height: var(--vscode-repl-line-height)
}

.monaco-workbench .part > .header-or-footer,
.monaco-workbench .part > .title {
  box-sizing: border-box;
  display: none;
  display: flex;
  height: 35px;
  overflow: hidden;
}
